* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #3399cc;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
}
.title{
    padding: 25px 0;
}
.container{
    width: 675px;
    height: 100%;
    margin:0px auto;
}
.wrap-container{
    text-align: center;
    border:1px solid #ffffff;
}
.item {
    display: inline-block;
    border:2px solid #ffffff;
    margin: -2px;
    height: 105px;
}
.item:hover{opacity: .7;}

.one-half{
    width:50%;
}
.one-quarter{
    width: 25%;
}
.full-width{
    width: 100%;
    background-color: #666699;

}
.blue{
    background-color: #3399cc;
}
.mint{
    background-color: #33cccc;
}
.rouse{
    background-color: #996699;
}
.red{
    background-color: #c24747;
}
.orang{
    background-color: #e2674a;
}
.yellow{
    background-color: #ffcc66;
}

.green{
    background-color: #99cc99;
}
.sapphirine{
    background-color: #669999;
}
.pink{
    background-color: #cc6699;
}
.dark-green{
    background-color: #339966;
}

.wrap-item{
     display: table;
     height: 100%;
     text-align: center;
     margin: 0 auto;
     line-height: 30px;
 }

.wrap-item > div{
    display: table-cell;
    vertical-align: middle;
}

.subtitle{
    padding: 20px 0;
    float: left;
}

.wi {
    margin-left: 10px;
    font-size: 24px;
}