body{
  font-size: 14px;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  font-family: 'Raleway', sans-serif;
}
.wrapper{
  max-width: 1070px;
  margin:0 auto;
  padding: 0 15px;
}

